* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://getwallpapers.com/wallpaper/full/4/f/c/1100388-large-hd-star-wars-wallpaper-1920x1080-for-pc.jpg);

  background-size: cover;
  background-position: center;
  height: 100vh;
  font-family: "Josefin Sans";
  overflow-x: hidden;
}

.heading {
  color: #cac973;
  text-shadow: 1px 1px 2px #cac973;
  text-align: center;
  margin-bottom: 10px;
  font-size: 3.5rem;
}

.title-log-home {
  font-size: 5rem;
  color: #cac973;
  animation: log 1.2s linear infinite;
}

@keyframes log {
  0% {
    color: #cac973;
    text-shadow: 0 0 7px #ff0400;
  }
  90% {
    color: #c48937;
    text-shadow: none;
  }
  100% {
    color: #cac973;
    text-shadow: 0 0 7px #ff0400;
  }
}
